:root {
    --bg-color: rgb(14, 13, 13);
    --fg-color: #FFF;
    --top-bot-color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
}
body {
    color: var(--fg-color);
    background-color: var(--bg-color);
}
header h1, header {
    font-family: 'Roboto Slab', serif;
}
footer {
    bottom: 0;
    overflow: auto;
}
header, footer {
    width: 100%;
    background-color: var(--top-bot-color) ;
    height: 10vh;
}

.flex-grid {
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-flow: wrap row;
}
.col {
    flex-basis: 50%;
}
.thirds {
    width: 33%;
    flex-basis: 33%;
}
ul {
    list-style-type: none;
}
nav li, footer li {
    font-size: 180%;
}
a {
    text-decoration: none;
    color: var(--fg-color);
    text-transform: uppercase;
    font-weight: 600;
}
a:hover, #active {
    text-decoration: underline;
    color: var(--fg-color);
}