:root {
    --bg-color: rgb(14, 13, 13);
    --fg-color: #FFF;       
    --top-bot-color: black;
    --head-font: 'Roboto Slab', serif;
    --page-font: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: var(--page-font)
}
body {
    color: var(--fg-color);
    background-color: var(--bg-color);
}
footer {
    overflow: hidden;
}
header h1, header, footer {
    font-family: var(--head-font)
}
header, footer {
    width: 100%;
    background-color: var(--top-bot-color) ;
    height: 10vh;
}

.flex-grid {
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-flow: wrap row;
}
.col {
    flex-basis: 50%;
}
.thirds {
    width: 33%;
}
.col-thirds {
    flex-basis: 33%;
}
ul {
    list-style-type: none;
}
nav li, footer li {
    font-size: 180%;
}
a {
    text-decoration: none;
    color: var(--fg-color);
    text-transform: uppercase;
    font-weight: 600;
}
a:hover, #active {
    text-decoration: underline;
    color: var(--fg-color);
}
h2 {
    font-size: 180%;
    font-family: var(--head-font);
    width: 100%;
}
p {
    margin: 0 auto;
    width: 75%;
}
div {
    text-align: center;
}
footer div {
    height: 100%;
}
.bg-img {
    background: url(./image/restaurant-photo.jpeg) center center no-repeat;
    height: 100vh;
    background-size: cover;
}
th {
    text-align: right;
    padding-right: 10px;
}
.menu-img {
    width: 30%;
    margin: 3% auto;
    height: 80%;
}
.food-drink {
    display: flex;
    float: left;
    width: 100%;
    flex-flow: wrap;
    margin-top: 10px;
    text-transform: capitalize;
}
.price {
    float: right;
    width: 20%;
    margin-right: 0;
}
.ingredients {
    font-size: 65%;
    text-transform: uppercase;
    font-style: italic;
    width: 100%;
    text-align: left;
}
form {
    width: 35%;
    display: inline-block;
}
form input {
    text-align: center;
    margin-bottom: 10px;
}
form label {
    font-weight: 600;
}
.half-page {
    height: 40vh;
}
.filler-img {
    background: url(./image/filler-img.jpeg) center bottom no-repeat;
    height: 50vh;
    width: 100vw;
    background-size: cover;
}
iframe {
    width: 90%;
    height: 90%;
    border: 0; 
}


@media screen and (min-width: 1990px) {
    body {
        font-size: 26px;
    }
}
@media screen and (max-width: 1073px) {
    .col {
        flex-basis: 50%;
    }
    body {
        font-size: 14px;
    }
    }
    
 @media screen and (max-width: 815px) {
    header, footer {
        height: 15vh;
    }
    .flex-grids-thirds {
        flex-flow: wrap column;
    }
    .col-thirds {
        flex-basis: 100%;
    }
    nav li, footer li {
        font-size: 130%;
    }
    }
@media screen and (max-width: 560px) {
    .col {
      flex-basis: 100%;
    }
}
